@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #24252A; */
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #24252A;
    overflow-x: hidden;
    overflow-y: hidden;
}
html, body{
    height: 100%;
}
#loader{
    width: 100%;
    height: 100vh;
    background: black url("images/loader.gif") no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 400;
    transition: display 1s ease-out;
}
li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    height: 75px;
    margin-right: auto;

}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    }

.nav__links li a:hover {
    color: #0088a9
}
.active{
    color: #0088a9;
    /* border: 1px solid white;
    height: 25px; */
}
#main{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 70%;
    margin: 0 auto;
}

.sub_main{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    width: 49.5%;
    border-radius: 5px;
    justify-content: space-between;
}
.pad{
    margin-right: 1%;
}

.video{
    border: 1px solid white;
    border-radius: 5px;
    /*height: 49%;*/
    height: 100%;
}
.vid{
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
    height: 88%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*margin: 0 auto;*/

}

#advert{
    border: 1px solid white;
    border-radius: 5px;
    height: 49.5%;
}

.lit-text{
    color: white;
    text-shadow: 0 0 10px #f3f3ed;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

.not-lit{
    color: rgb(112, 112, 112);
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

.row{
    display: flex;
}
.main-pod{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    height: 90%;
    margin-right: auto;
    margin-left: auto;
}
.group-pod{
    height: 49%;
    display: flex;
    justify-content: space-between;
}
.text1{
    font-size: 40px;
    font-weight: 400;
}
.text3{
    font-size: 25px;
    color: yellow;
}
.group-pod:nth-child(1){
    animation: slide 1.5s 0.5 linear;
}
.group-pod:nth-child(2){
    animation: slide 1.5s linear;
}

.pod{
    width: 49.5%;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    color: white;
    overflow: hidden;
    background-image: url("bank_image/home_kitchen.jpg");
}

.pod-in{
    background: rgba(0,0,0,0.5);
    height: 430px;
    width: 430px;
    margin-top: -10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
}

.pod_image_create{
    background-size: cover;
    background-position: center;
}


.text4{
    font-size: 18px;
    font-weight: bold;
}

.disappear{
    border: 1px solid white;
    animation: slide 1s reverse forwards;
}

@keyframes slide{
    from{
        transform: translateX(120%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.ring {
    position: absolute;
    top: 30%;
    left: 74%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 185px;
    font-family: sans-serif;
    font-size: 25px;
    color: #fff000;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fff000;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}
.ring:before {
    content: '';
    position: absolute;
    top:-3px;
    left:-3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top:3px solid #fff000;
    border-right:3px solid #fff000;
    border-radius: 50%;
    animation: animateCirclee 3s linear infinite;

}
.ringer{
    display: block;
    position: absolute;
    /*top: calc(50% -2px);*/
    top: 50%;
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animateed 3s linear infinite;
}
.ringer:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff000;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #fff000;
}
@keyframes animateed {
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(405deg);
    }
}
@keyframes animateCirclee {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#stat{
    border: 1px solid white;
    border-radius: 5px;
    height: 49%;


}

.progress{
    background: rgb(65, 64, 64);
    border: 2px solid white;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    height: 20px;
    padding: 5px;
}
/*.probar{*/
/*    background: white;*/
/*    margin: -4.5px;*/
/*    height: 15px;*/
/*    width: 15px;*/
/*    border-radius: 50%;*/
/*    top: 100%;*/
/*    animation: move 2s ease-in-out infinite alternate-reverse;*/
/*}*/

 .progress .probar {
	 background: linear-gradient(45deg, rgba(255, 255, 255, .5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%, transparent 75%, transparent);
	 background-size: 20px;
	 border-radius: 5px;
     background-color: #005c80;
	 height: 100%;
	 animation: move 0.5s linear infinite;
}
 @keyframes move {
	 100% {
		 background-position: 20px 0;
	}
}

.sub_title{
    /* color: white; */
    margin: 0 auto;
    text-align: center;
    color: #0088a9;
    font-size: 20px;
}
.stat_board{
    display: flex;
    justify-content: space-between;
    height: 90%;
}
.sub_stat{
    /* border: 1px solid white; */
    border-radius: 5px;
    width: 49%;
}

#stat_circle{
    flex:2;
}
#stat_bar{
    flex:4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aliceblue; */
}
#time{
    width: 170px;
    height: 120px;
    border-radius: 10px;
    line-height: 30px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    margin: 15% auto;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    animation: cross 1s ease-in-out infinite alternate;
}
@keyframes cross{
    0%{
        border-top: 3px solid white;
        border-bottom: 3px solid #0088a9;
    }
    100%{
        border-right: 3px solid white;
        border-left: 3px solid #0088a9;
    }
}
/*#time{*/
/*    width: 170px;*/
/*    height: 170px;*/
/*    border-radius: 50%;*/
/*    line-height: 30px;*/
/*    text-align: center;*/
/*    text-shadow: 2px 2px 4px #000000;*/
/*    color: white;*/
/*    margin: 15% auto;*/
/*    font-size: 18px;*/

/*}*/
/*#time:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top:-3px;*/
/*    left:-3px;*/
/*    width: 170px;*/
/*    height: 170px;*/
/*    margin-top: 505px;*/
/*    margin-left: 54%;*/
/*    border: 3px solid transparent;*/
/*    border-top:3px solid white;*/
/*    border-right:3px solid #0088a9;*/
/*    border-radius: 50%;*/
/*    animation: animateCircle 3s linear infinite;*/

/*}*/
@keyframes animateCircle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.plane{
    width: 20%;
    height: 100%;
    position: absolute;
    background: rgba(7, 7, 7, 0.5);
    display: none;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    animation: planeIn 1s linear;
    /* justify-content: space-around; */

}
@keyframes planeIn{
    0%{
        width: 0;
    }
    100%{
        width: 20%;
    }
}
.snap{
    border-radius: 10px;
    border: 1px solid white;
    width: 90%;
    margin-bottom: 10px;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}

#people{
    border:2px solid #0088a9;
    height: 20%;
    width: 95%;
    margin-left: 2.5%;
    /*margin-top: -60px;*/
    display: flex;
    border-radius: 3%;
    color: white;
    text-align: center;
}

#p-face{
    font-size: 50px;
    flex: 1;
}
#p-no{
    font-size: 40px;
    flex: 2;
}
.bar{
    width: 99%;
    border: 1px solid white;
    border-radius: 5px;
}
.footer{
    width: 50%;
    margin-left: 25%;
    /* background: rgba(0,0,0,0.5); */
    color: white;
    text-align: center;
    justify-items: center;
    font-weight: 900;
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 8px;
    bottom: 0;
    position: relative;
    margin-top: 20px;
    /*box-shadow: 10px 10px 5px grey;*/
}


.footer a {
    text-decoration: none;
    color: white;
  }

#face{
    width: 7%;
    border-radius: 50%;
}